<div class="form-container">
  <h2>Editar Categoría</h2>

  @if (error) {
  <div class="error-message">{{ error }}</div>
  }

  <form class="form" [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="category-name" class="label">Nombre</label>
      <input type="text" id="category-name" class="input-category-name" formControlName="name"
        placeholder="Ejemplo: Collares" />
      @if (formData.get('name')?.hasError('required')) {
      <small class="error">
        El nombre es requerido
      </small>
      }
      @if (formData.get('name')?.hasError('minlength')) {
      <small class="error">
        El nombre debe tener al menos 3 caracteres
      </small>
      }
    </div>

    <div class="field">
      <label for="category-description" class="label">Descripción</label>
      <textarea id="category-description" class="input-category-description" formControlName="description"
        placeholder="Escribe una breve descripción de esta categoría">
      </textarea>
      @if (formData.get('description')?.hasError('required')) {
      <small class="error">
        La descripción es requerida
      </small>
      }
    </div>

    <div class="field">
      <label for="category-parent" class="label">Categoría Padre</label>
      <select id="category-parent" formControlName="parent">
        <option [value]="null">Ninguna</option>
        @for (cat of categories; track cat._id) {
        <option [value]="cat._id">
          {{ cat.name }}
        </option>
        }
      </select>
    </div>

    <div class="field">
      <label for="category-status" class="label">Estado</label>
      <select id="category-status" formControlName="isActive">
        <option [value]="true">Activa</option>
        <option [value]="false">Inactiva</option>
      </select>
    </div>

    <div class="field">
      <button type="submit" [disabled]="loading || formData.invalid">
        {{ loading ? 'Actualizando...' : 'Actualizar Categoría' }}
      </button>
    </div>
  </form>
</div>