<footer class="footer">
    <section class="footer">
        <div class="footer_container footer_container--top">
            <div class="container container-footer container-contact">
                <h2 class="contact_tittle">Contacto</h2>
                <div class="horario">
                    <small>Horario de trabajo de lunes a viernes de 8 a 18 h UTC-5</small>

                    <a rel="noreferrer noopener" href="tel:+57 3213347232" data-type="tel" data-id="tel:123456789"
                        target="_blank">+57 3213347232</a>
                </div>
            </div>
            <div class="container container-footer container-correo">
                <h2 class="contact_tittle">¡Pongámonos en contacto!</h2>
                <div class="texto">
                    <p>¿Qué hay dentro? Ventas exclusivas, novedades y mucho más.</p>
                </div>
                <form class="email-input" (submit)="onSubmit($event, emailInput)">
                    <input #emailInput type="email" placeholder="Tu correo" required>
                    <button type="submit">Registrate</button>
                </form>
                <small>* Acepto la política de privacidad y cookies para recibir </small>
            </div>
            <div class="container container-footer container-redes-sociales">
                <h2 class="contact_tittle">Redes Sociales</h2>
                <div class="container container-redes-sociales-images">
                    <i class="fa-brands fa-facebook redes-sociales-images"></i>
                    <i class="fa-brands fa-instagram redes-sociales-images"></i>
                    <i class="fa-brands fa-github redes-sociales-images"></i>
                    <i class="fa-brands fa-youtube redes-sociales-images"></i>
                </div>
            </div>
        </div>
    </section>
    <div class="container footer_container footer_container--bottom">
        <div class="footer_container superior">
            <div class="detalles footer_container">
                <div class="logo-footer">
                    <img class="img img-logo img-logo-footer" src="logo.png" alt="background logo">
                    <!-- sin .../../../../../......, angular las lee de /public si es que existen -->
                </div>
                <div class="general footer-menu">
                    <h3>General</h3>
                    <ul>
                        <li class="menu_item"><a routerLink="/envio" class="menu__link">Envío</a></li>
                        <li class="menu_item"><a routerLink="/estado-pedido" class="menu__link">Estado del pedido</a>
                        </li>
                        <li class="menu_item"><a routerLink="/devoluciones" class="menu__link">Intercambios y
                                devoluciones</a></li>
                        <li class="menu_item"><a routerLink="/guia-tallas" class="menu__link">Guía de tallas</a></li>
                        <li class="menu_item"><a routerLink="/cuidado-joyas" class="menu__link">Cuidado de las joyas</a>
                        </li>
                        <li class="menu_item"><a routerLink="/faq" class="menu__link">Preguntas frecuentes</a></li>
                        <!-- Ctrl + Alt + ↓ para agregar cursores y escribir varias a la vez -->
                    </ul>
                </div>
                <div class="acerca_de footer-menu">
                    <h3>Acerca de</h3>
                    <ul>
                        <li class="menu_item"><a routerLink="/nuestro-mundo" class="menu__link">Nuestro mundo</a></li>
                        <li class="menu_item"><a routerLink="/nuestro-embalaje" class="menu__link">Nuestro embalaje</a>
                        </li>
                        <li class="menu_item"><a routerLink="/nuestro-cliente" class="menu__link">Nuestro Cliente</a>
                        </li>
                        <li class="menu_item"><a routerLink="/historias" class="menu__link">Historias</a></li>
                        <li class="menu_item"><a routerLink="/tarjetas-regalo" class="menu__link">Tarjetas de regalo</a>
                        </li>
                    </ul>
                </div>
                <div class="categorias footer-menu">
                    <h3>Categorias</h3>
                    <ul>
                        <li class="menu_item"><a routerLink="/nuevo" class="menu__link">Nuevo en</a></li>
                        <li class="menu_item"><a routerLink="/earrings" class="menu__link">Pendientes</a></li>
                        <li class="menu_item"><a routerLink="/rings" class="menu__link">Anillos</a></li>
                        <li class="menu_item"><a routerLink="/necklaces" class="menu__link">Collar</a></li>
                        <li class="menu_item"><a routerLink="/bracelets" class="menu__link">Pulseras</a></li>
                        <li class="menu_item"><a routerLink="/accesorios" class="menu__link">Accesorios</a></li>
                        <li class="menu_item"><a routerLink="/todas-las-joyas" class="menu__link">Todas las joyas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="metodos-de-pago">
            <img class="metodo_de_pago_img" src="metodos-de-pago.png" alt="metodos de pago">
        </div>
    </div>
    <div class="container footer_container footer_container--bottom inferior">
        <p>© 2025 Todos los derechos reservados</p>
        <p>jewerly_store@prospecto.com</p>
    </div>

</footer>