<nav class="navbar">
    <ul class="menu">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/dashboard/categories">categories</a></li>
        <li><a routerLink="/dashboard/categories/new">New categories</a></li>
        <li><a routerLink="/dashboard/categories/:id">Edit categories</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/dashboard/collections">collections</a></li>
        <li><a routerLink="/dashboard/collections/new">New collections</a></li>
        <li><a routerLink="/dashboard/collections/:id">Edit collections</a></li>

    </ul>
</nav>